# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtualenv
venv/
env/
ENV/
.venv/

# Credentials
credentials.json
*.key
*.pem

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Render or deployment
/secrets/
/etc/secrets/
